@media (max-width: 1300px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 372px;
            line-height: 39px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
        &__btns {
            margin-top: 32px;
        }
    }
    .title {
        
        &_fz48 {
            font-size: 20px;
            line-height: 30px;
        }
    }
    .humburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
}